@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Signika+Negative:wght@500&display=swap');



body {
  background-color: pink;
  padding: 2em;
}

body {
  font-family: 'Agdasima', sans-serif;
}

h1,h2,h3 {
  font-family: 'Signika Negative', sans-serif;
}

td {
  padding: 4px;

}

table {
  min-width: 80vw;
}

thead {
  font-weight: bold;
}

button {
  padding: 3px;
  border-radius: 8%;
}

 {
  padding: 2px;
  border-radius: 8%;
}